<% include ../partials/boilerplate %>

    <div class='webDivs-single'>
        
    </div>
<br>
<%=  webDiv.websitetitle %>
<br>
<%=  webDiv.urls %>
<br>
<%=  webDiv.categories_id %>
<br>
<%=  webDiv.descriptiontext %>
<br>

<% include ../partials/end %>