<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        

        <meta http-equiv='X-UA-Compatible' content='ie=edge' />
        <title><%= documentTitle %></title>
        
        
        <link type='text/css' href='/static/styles/reset.css' rel='stylesheet'>
        <link type='text/css' href='/static/styles/style.css' rel='stylesheet'>
    </head>
    <body>
        <header>
            <img id='logo' src="https://upload.wikimedia.org/wikipedia/commons/3/32/WebDesignBooks.JPG" alt="">
            <nav>
                <a href='/'>Homepage</a>
                <a href='/webDivs/'>Web<\Divs></a>
                <a href='/webDivs/add'>ADD</a>
                <form method='POST' action='/webDivs/*'>
                    <input type='submit' value='Login' />
                </form>
            </nav>
            
        </header>